* {
	margin: 0;
	padding: 0;
}

h1 {
	text-align: center;
	color: #fff;
}

.s1 {
	background-image: url(../images/1.jpg);
	background-size: cover;
	
}

.s2 {
	background-image: url(../images/2.jpg);
	background-size: cover;
	
}
.s2 h1{
	font-size: 50px;
}

.s3 {
	background-image: url(../images/3.jpg);
	background-size: cover;
}

.s4 {
	background-image: url(../images/4.jpg);
	background-size: cover;
}

/* 

*/
#fp-nav ul li a span, .fp-slidesNav ul li a span{
	background-color: #fff !important;
}